# Disable Samsung Securities

CONFIG_UH=n
CONFIG_UH_RKP=n
CONFIG_UH_LKMAUTH=n
CONFIG_UH_LKM_BLOCK=n
CONFIG_RKP_CFP_JOPP=n
CONFIG_RKP_CFP=n
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_FIVE=n
CONFIG_SECURITY_KNOX_KAP=n
CONFIG_TIMA=n
CONFIG_SECURITY_PROCA=n
CONFIG_SECURITY_FIVE=n
CONFIG_KNOX_CORE=n
CONFIG_DSMS=n
CONFIG_SECURITY_SECURE_BOOT_KEY=n
